<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:database.properties"/>

    <bean id="connectorDB"
          class="by.andersen.intensive4.jdbc.connector.ConnectorDB"
          factory-method="getInstance">
    </bean>

    <bean id="teamDAO"
          class="by.andersen.intensive4.jdbc.dao.TeamDAO">
        <constructor-arg ref="connectorDB"/>
    </bean>

    <bean id="employeeDAO"
          class="by.andersen.intensive4.jdbc.dao.EmployeeDAO">
        <constructor-arg ref="connectorDB"/>
    </bean>

    <bean id="feedbackDAO"
          class="by.andersen.intensive4.jdbc.dao.FeedbackDAO">
        <constructor-arg ref="connectorDB"/>
    </bean>

    <bean id="projectDAO"
          class="by.andersen.intensive4.jdbc.dao.ProjectDAO">
        <constructor-arg ref="connectorDB"/>
    </bean>

    <bean id="teamService"
          class="by.andersen.intensive4.service.EntityService">
        <constructor-arg ref="teamDAO"/>
    </bean>

    <bean id="employeeService"
          class="by.andersen.intensive4.service.EntityService">
        <constructor-arg ref="employeeDAO"/>
    </bean>

    <bean id="feedbackService"
          class="by.andersen.intensive4.service.EntityService">
        <constructor-arg ref="feedbackDAO"/>
    </bean>

    <bean id="projectService"
          class="by.andersen.intensive4.service.EntityService">
        <constructor-arg ref="projectDAO"/>
    </bean>

</beans>